<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="/register_page.css">
</head>
<body>
<div class="register">
    <h2>Register</h2>
    <form th:action="@{/users/register}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" th:field="*{firstName}" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" th:field="*{lastName}" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required>
        </div>
        <div class="form-group">
            <label for="registerPassword">Password:</label>
            <input type="password" id="registerPassword"  th:field="*{password}" required>
        </div>
        <button class="btn" type="submit">Register</button>
    </form>
</div>

</body>
</html>
